@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arial-Regular';
  src: url('./assets/fonts/ArialMT.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-Bold';
  src: url('./assets/fonts/Arial-BoldMT.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  background-color: #1c64f2;
}
*::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 10px;
}

*::-webkit-scrollbar-corner {
  background-color: red;
}

body {
  font-family: 'Arial-Regular';
}

@layer base {
  body {
    @apply font-normal bg-primary text-white;
  }

  img {
    @apply max-w-full w-full;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .box {
    @apply max-w-[1920px] px-[25px] mx-auto tablet:px-[40px] md-phone:px-3;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #1c64f2;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
